$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-light-gray: rgb(246, 246, 246);
$color-gray: rgb(229, 229, 229);

$gray-text: rgb(88, 88, 88);

$gap: 1.5rem;
$radius: 1.25rem;

$breakpoints: (
    tablette: 768px,
    desktop: 992px,
    )