@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.like_icon {
  font-size: 1.5rem;
  color: transparent;
  background-clip: text;
  -webkit-text-stroke: 0.5px black;
  background: transparent;
}
@keyframes fill_icon {
  0% {
    background: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: #FF79DA;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.like_icon:hover {
  animation: fill_icon 0.5s linear;
  -webkit-text-stroke: 0px;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  box-shadow: 0px 5px 8px -5px gray;
}
.header__wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  height: 3.5rem;
  position: relative;
}
@media (min-width: 768px) {
  .header__wrapper {
    padding: 0rem 2rem;
  }
}
.header__logo {
  height: 1.7rem;
}
.header__back {
  position: absolute;
  left: 1.5rem;
  font-size: 1.3rem;
}

.footer {
  height: 12.5rem;
  background-color: rgb(40, 40, 40);
  color: white;
  padding: 1rem 0;
}
.footer__wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .footer__wrapper {
    padding: 0rem 2rem;
  }
}
.footer h2 {
  font-family: "Shrikhand", sans-serif;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__container > li {
  font-size: 1rem;
}
.footer__container > li > i {
  margin-right: 0.5rem;
  width: 1rem;
}

.restaurant__container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
}
.restaurant__container > img {
  max-width: 100%;
  height: 20rem;
  object-fit: cover;
}

.menu {
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  background: rgb(246, 246, 246);
  border-radius: 2rem 2rem 0 0;
  margin-top: -3rem;
}
@media (min-width: 768px) {
  .menu {
    padding: 1.5rem 1rem;
  }
}
.menu__restaurant {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  letter-spacing: 1px;
}
.menu__container {
  padding: 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .menu__container {
    padding: 0rem 0rem;
  }
}
.menu__container__section {
  padding: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .menu__container__section {
    padding: 0rem 1rem;
  }
}
@keyframes menu_fade {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__container__section:nth-child(1) {
  animation-name: menu_fade;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.menu__container__section:nth-child(2) {
  animation-name: menu_fade;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.menu__container__section:nth-child(3) {
  animation-name: menu_fade;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
.menu__container__section > h2 {
  font-size: 0.9rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(88, 88, 88);
}
.menu__container__section > h2::after {
  content: "";
  display: block;
  margin-top: 0.3rem;
  width: 2.5rem;
  height: 0.2rem;
  background-color: #99E2D0;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu__container__section__item {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  padding: 0.7rem;
  border-radius: 0.7rem;
  gap: 0.5rem;
  box-shadow: 0px 5px 8px -5px gray;
  overflow-x: hidden;
}
.menu__container__section__item:hover .menu__container__section__item__price {
  margin-right: 3.5rem;
}
.menu__container__section__item:hover .menu__container__section__item__price > div > i {
  animation-name: spinner;
  animation-duration: 300ms;
  animation-timing-function: linear;
}
.menu__container__section__item__info {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(88, 88, 88);
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  flex: 1;
  min-width: 0;
}
.menu__container__section__item__info > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(88, 88, 88);
}
.menu__container__section__item__info > h3 {
  font-size: 1.2rem;
}
.menu__container__section__item__info > p {
  font-size: 1rem;
}
.menu__container__section__item__price {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  transition: margin-right 500ms;
  margin-right: 0;
  position: relative;
}
.menu__container__section__item__price > div {
  position: absolute;
  height: calc(100% + 1.4rem);
  font-size: 1.5rem;
  background: #99E2D0;
  width: 3.5rem;
  right: -4.5rem;
  top: -0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__container__section__item__price > div > i {
  color: white;
}
@media screen and (min-width: 992px) {
  .menu__container__section__item {
    height: 6rem;
  }
  .menu__container__section__item__info {
    justify-content: center;
  }
}
@media screen and (min-width: 1150px) {
  .menu__container__section__item {
    height: auto;
  }
  .menu__container__section__item__info {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .menu__container__section {
    flex: 0 49.5%;
    max-width: 49.5%;
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .menu__container__section {
    max-width: 32%;
  }
}
.menu__order {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.menu__order__btn {
  cursor: pointer;
  padding: 1rem 3.5rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  font-weight: 300;
  color: white;
  border: none;
  box-shadow: 0px 5px 8px -5px gray;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  transition: box-shadow 200ms;
}
.menu__order__btn:hover {
  background: linear-gradient(170deg, #ff98e2 0%, #a36fe1 100%);
  box-shadow: 5px 10px 15px -5px grey;
}

@media screen and (min-width: 768px) {
  .menu {
    padding: 1.5rem 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .menu {
    padding: 1.5rem 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  .menu__restaurant {
    padding: 0 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  .menu__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    gap: 0;
    row-gap: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .menu__container {
    flex-wrap: nowrap;
    gap: 1rem;
  }
}

/*# sourceMappingURL=menu.css.map */
