.loader {
    @include spinner;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: $color-light-gray;
    animation: hidden 2500ms;
    opacity: 0;
    z-index: -1;
    gap: 1rem;

    &-spinner {
        width: 7rem;
        height: 7rem;
        @include gradient($color-secondary, $color-primary);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .5rem solid $color-light-gray;
        border-left-color: transparent;
        animation: spinner .7s linear infinite;
        @include shadow;

        & div {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: $color-light-gray;
        }
    }


}


@keyframes hidden {
    0% {
        opacity: 1;
        z-index: 1;
    }

    90% {
        opacity: .8;
        z-index: 1;
    }

    100% {
        opacity: 0;
        z-index: 1;
    }
}